

    <section class="container">
    <div class="section_title">
        <h2>Latest News</h2>
    </div>
        <div class="flex all_blog">

            <% data.articles.forEach(article => { %>
                <div class="blog_card">
                    <div class="blog_img">
                        <img src="<%= article.urlToImage %>" alt="<%= article.title %>">
                    </div>
                    <div class="blog_content">
                        <a href="<%= article.url %>">
                            <p class="blog_author"><%= article.author %> • <%= new Date(article.publishedAt).toLocaleDateString() %></p>
                            <h1 class="blog_title"><%= article.title %></h1>
                            <p class="blog_text"><%= article.description %></p>
                            
                        </a>
                    </div>
                </div>
            <% }); %>


            
        </div>
    </section>
