<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta Blog</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <nav class="main_navbar flex container">
            <div class="main_navbar_logo">
                <a href="">Beta<span>Blog</span></a>
            </div>
            <ul class="main_menu flex" id="main_menu">
                <% if (typeof user != 'undefined' ) { %>                 
                    <li><a href="/" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'home' ? 'active' : '') : '' %>">Dashboard</a></li>
                    <li><a href="/latest_news" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'latest_news' ? 'active' : '') : '' %>">Latest News</a></li>
                    <li><a href="/all_blog" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'all_blog' ? 'active' : '') : '' %>">All Blog</a></li>
                    <li><a href="/create_blog" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'create_blog' ? 'active' : '') : '' %>">Create Blog</a></li>
                    <li><a href="/users/login" class="menu_link lg-hidden  <%=typeof activePage != 'undefined' ? (activePage === 'login' ? 'active' : '') : '' %>">Logout</a></li>
                    
                    <% }else{ %>


                <li><a href="/" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'home' ? 'active' : '') : '' %>">Home</a></li>
                <li><a href="/latest_news" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'latest_news' ? 'active' : '') : '' %>">Latest News</a></li>
                <li><a href="/all_blog" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'all_blog' ? 'active' : '') : '' %>">All Blog</a></li>
                <li><a href="/contact" class="menu_link <%=typeof activePage != 'undefined' ? (activePage === 'contact' ? 'active' : '') : '' %>">Contact us</a></li>
                <li><a href="/users/login" class="menu_link sm-show  <%=typeof activePage != 'undefined' ? (activePage === 'login' ? 'active' : '') : '' %>">Login</a></li>
                <li><a href="/users/register" class="menu_link sm-show <%=typeof activePage != 'undefined' ? (activePage === 'register' ? 'active' : '') : '' %>">Sign up</a></li>
            
                <% } %>
            </ul>
            <ul class="main_menu flex">
                <% if (typeof user != 'undefined' ) { %>                 
                <form action="/users/logout?_method=DELETE" method="post">
                    <button type="submit" class="logout">Logout</button>
                </form>
                <% }else{ %>
                <li><a href="/users/login" class="menu_link btn">Login</a></li>
                <li><a href="/users/register" class="menu_link btn">Sign up</a></li>
                <% } %>

            </ul>
            <a onclick="showMenu()" class="toogel_btn"><i class='bx bx-menu'></i></a>
        </nav>
    </header>
    
  <%- body %>

    <footer class="footer ">
        <div class="container flex item-between-center">
            <div>
                &copy; All right reserve
            </div>
            <div>
                <p>Made by <span>❤</span> Ritu Raj</p>
            </div>
        </div>
    </footer>
    <script>
        function showMenu(){
            const main_menu = document.getElementById('main_menu');
            main_menu.classList.toggle('active');
        }
    </script>
</body>
</html>